<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.feedhenry.plugins.sms"
        version="0.0.1">

        <name>SMS</name>

                <description>
                        This plugin allows you to send SMS messages on Android
                </description>

                <license>MIT</license>

        <engines>
                <engine name="cordova" version=">=2.8.0" />
        </engines>

        <!-- android -->
        <platform name="android">
                <config-file target="config.xml" parent="/*">
                        <feature name="Sms">
                                <param name="android-package" value="com.feedhenry.phonegap.sms.Sms" />
                        </feature>
                </config-file>

                <config-file target="AndroidManifest.xml" parent="/*">
                   <uses-permission android:name="android.permission.RECEIVE_SMS" />
                   <uses-permission android:name="android.permission.SEND_SMS" />
                </config-file>

                <js-module src="www/android/Sms.js" name="Sms">
                        <clobbers target="navigator.sms" />
                </js-module>

                <source-file src="src/android/Sms.java" target-dir="src/com/feedhenry/phonegap/sms" />
        </platform>

</plugin>